# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
.conda-env/
.dsi-config/
data/raw/*

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files

#*.csv
#*.dat
#*.out
#*.pid
#*.gz
#*.xls
#*.xlsx
#*.parquet
#*.feather
#*.db
#*.sqlite

# Model files

#*.h5
#*.pkl
#*.model
#*.joblib
#*.pt
#*.pth
#*.onnx
#*.tflite
#*.pb

# IDE
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
